*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#idform {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

label, input{
    margin-top: 10px;
}